body,
p,
li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a,
a:hover,
a:visited {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.cta {
  padding: 16px 56px;
  border-radius: 10px;
  box-shadow: 0 6px 10px #c1c1c187;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background: #ef805d;
  border: 0;
  color: white;
  font-family: 'Roboto';
}

.cta-left {
  padding: 12px 20px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background: #ef805d;
  border: 0;
  border-radius: 12px;
  color: white;
  font-family: 'Roboto';
}

.cta-right {
  padding: 20px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  height: 100%;
  border: 0;
  font-family: 'Roboto';
}

.cta:hover,
.cta:active,
.cta:focus {
  padding: 16px 56px;
  border-radius: 0;
  box-shadow: 0px 0px 0px white;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('./fonts/slick.woff') format('woff'),
    url('./fonts/slick.ttf') format('truetype'),
    url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: -67px;
  display: block;
  width: 30px;
  height: 28px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: 450px;
  z-index: 1;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: ' ';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url('https://carmelmens.og.clinic/wp-content/uploads/2021/02/arrow-left.png');
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 450px;
  z-index: 1;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: ' ';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-image: url('https://carmelmens.og.clinic/wp-content/uploads/2021/02/arrow-right.png');
}
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots ul {
  display: flex;
  text-align: left !important;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 56px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
.slick-initialized .slick-slide {
  display: flex;
}
/*End of Slick*/

.mobile-only {
  display: none;
}

/*Start of New Styling*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*Hero Section*/
/*COLORS - MODERN TEMPLATE*/
.ice-blue {
  color: #bfd4e1;
}
.ice-blue-bg {
  background: #bfd4e1;
}
.dark-blue {
  color: #29314d;
}
.dark-blue-bg {
  background: #29314d;
}
.white-bg {
  background: #ffffff;
}
.orange {
  color: #ef805d;
}
.orange-bg {
  background: #ef805d;
}
.light-grey {
  color: #e5e5e5;
}
.light-grey-bg {
  background: #e5e5e5;
}
.dark-grey {
  color: #8d939f;
}
.dark-grey-bg {
  background: #8d939f;
}
.dark-grey-2 {
  color: #676767;
}

/*START OF NAVIGATION*/
img.logo-navigation {
  max-height: 35px;
  padding: 8px 0px;
}
ul#main-nav li {
  text-decoration: none;
  padding: 0 18px;
  font-size: 14px;
  color: black;
}
ul#main-nav li a {
  text-decoration: none;
  color: black;
}
ul#main-nav {
  display: flex;
}
ul#main-nav li {
  list-style: none;
}
.topnav {
  width: 40%;
  display: flex;
  justify-content: center;
}
.menu-item:after {
  display: block;
  content: '';
  border-bottom: solid 1px #ef805d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.menu-item:hover:after {
  transform: scaleX(1);
}
/*END OF NAVIGATION*/

/*START OF OFFER PAGE NAVIGATION*/
.offer-page-nav {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-page-link {
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 0 18px;
}

.offer-page-link:after {
  display: block;
  content: '';
  border-bottom: solid 1px #ef805d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  color: black;
}
.offer-page-link:hover:after {
  transform: scaleX(1);
  color: black;
}
a.offer-page-link {
  color: black !important;
}

.offer-page-top-right-cta {
  position: absolute;
  top: 33px;
  right: 40px;
}
/*END OF OFFER PAGE NAVIGATION*/

/*START OF HERO CSS*/
.hero-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}
.hero-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
.hero-text h2:before {
  display: inline-block;
  content: '';
  border-top: 0.15em solid #bfd4e2;
  width: 50px;
  margin: 0 32px 0 0em;
  transform: translateY(-6.3px);
  padding-bottom: 0em;
}
.hero-text h2:after {
  display: inline-block;
  content: '';
  border-top: 0.15em solid #bfd4e2;
  width: 50px;
  margin: 0 0px 0 32px;
  transform: translateY(-6.3px);
  padding-bottom: 0em;
}
.hero-text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 118px;
  line-height: 120px;
  font-weight: 600;
  margin: 0;
}
.hero-text p {
  font-size: 16px;
  line-height: 26px;
  width: 70%;
  margin-bottom: 32px;
}
.hero-text .cta-wrapper {
  padding-bottom: 56px;
  position: relative;
}
.hero-image {
  grid-row: 1 / span 2;
  grid-column: 3 / span 5;
}
.hero-orange-line {
  position: absolute;
  bottom: 0;
  left: 52px;
  height: 92%;
  background: #ef805d;
  width: 1px;
}
/*END OF HERO CSS*/

/*START OF GREY COPY SECTION*/
#grey-copy-section p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 88px;
  margin: 48px 0;
}
.grey-orange-line {
  position: absolute;
  top: 0;
  left: 80px;
  height: 190px;
  background: #ef805d;
  width: 1px;
}
/*START OF GREY COPY SECTION*/

/*START OF TREATMENT OPTIONS*/
h2.blue-top-header-title {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto';
}
h2.section-main-title {
  font-family: 'Oswald';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 68px;
  margin-top: 6px;
  margin-bottom: 20px;
}
.second-section-treatment-options {
  border-right: 1px solid #ef805e;
}
ul li {
  font-size: 16px;
  line-height: 24px;
}
.treatment-image {
  height: 700px;
}
/*END OF TREATMENT OPTIONS*/

/*START OF CREDENTIALS BAR*/
p.credentials-copy {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  line-height: 30px;
}
/*END OF CREDENTIALS BAR*/

/*START OF TESTIMONIAL*/
p.testimonial-copy {
  font-weight: bold;
}
#testimonials-section h3 {
  font-size: 16px;
  font-family: 'Roboto';
}
#testimonials-section .quote {
  font-size: 40px;
}
#testimonials-section .testimonial-card-wrapper {
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  display: Flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
}
h5 {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 300;
}
.testimonial-image {
  width: 400px;
  align-self: center;
}
/*END OF THE TESTIMONIALS*/

/*START OF PROCESS*/
h5.number {
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 56px;
}
.process-card {
  justify-content: space-evenly;
  max-height: 320px;
  min-height: 320px;
}
.slick-center {
  /*border-top: 5px solid #ef805e;*/
  transition: 0.2s ease-in-out;
}
p.process-card-styling {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
}
.process-card-title {
  font-family: 'Roboto';
}
.slick-track {
  margin-top: 100px;
}
.slick-slide {
  transition: 0.4s ease;
}
/*END OF PROCESS*/

/*START OF SEARCH SECTION*/
p.faq-description {
  font-weight: 300;
  color: #8d939f;
}
input#inputForSearch {
  color: black !important;
  background: #f0f0f0;
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto';
  letter-spacing: 0.7px;
  font-weight: 500;
}
input#inputForSearch::placeholder {
  color: black;
}
button.search {
  border: none;
  background: #f0f0f0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.feather-search {
  background: #f0f0f0;
  height: 100%;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
button.search:hover > .feather-search {
  stroke: #ef805e;
}
.keyWordInside {
  border: none;
  background: white;
  color: #ef805d;
  font-family: 'Roboto';
  text-align: center;
  border: 1px solid #c0d4e1;
  border-radius: 10px;
  padding: 5px 20px;
}
.keyWordInside:hover,
.keyWordInside:active,
.keyWordInside:focus {
  background: #c0d4e1;
  color: white;
}
.quick-search-copy {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
  color: grey;
}
.search-title {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 20px;
  text-transform: initial;
}
p.card-description {
  font-weight: 400;
  margin-bottom: 40px;
}
.card {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c2c2c278;
  background: white;
}

.keyword-oncard-styling {
  padding: 7px 25px 6px;
  border: 0;
  background: #c0d4e1;
  color: white;
  font-size: 12px;
  transition: 0.2s ease;
  border-radius: 0;
  font-weight: bold;
  font-family: 'Roboto';
  font-weight: 400;
  border-radius: 10px;
  text-transform: initial;
}

.keyword-oncard-styling-2 {
  padding: 7px 25px 6px;
  border: 1px solid #c0d4e1;
  color: #ef805e;
  font-size: 12px;
  transition: 0.2s ease;
  border-radius: 0;
  font-weight: bold;
  font-family: 'Roboto';
  font-weight: 400;
  border-radius: 10px;
  text-transform: initial;
  background: white;
}
.no-show {
  display: none;
}
#inputForSearch {
  border: 0;
  margin: 0;
}
.button-remove-filter {
  cursor: pointer;
  border: 1px solid #c0d4e1;
  background: #c0d4e1;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  font-size: 14px;
}
.accordion {
  background-color: white;
  margin-top: 10px;
  color: #000;
  cursor: pointer;
  margin: 18px 0px 0 40px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  padding-right: 30px;
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid #a8a8a8;
  font-weight: 600;
}

.accordion.active {
  border-bottom: none;
}

.accordion:before {
  content: '\002B';
  color: #000;
  font-weight: lighter;
  float: left;
  margin-left: 0px;
  position: absolute;
  left: -18px;
  top: -6px;
  font-size: 24px;
}

.active:before {
  content: '\2212';
}

.panel {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p,
.panel ul {
  margin: 0px 40px 30px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  background: white;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 20px;
}
/*END OF SEARCH SECTION*/

/*START OF ABOUT CLINIC*/
.about-clinic-facts {
  border-top: 1px solid #ef805e;
  padding-top: 10px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 500;
}
.about-clinic-paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.about-clinic-paragraph p {
  color: white;
}

/*END OF ABOUT CLINIC*/

/*START OF FORM*/
.vertical-grey-line-form {
  height: 60px;
  width: 1px;
}
p.form-copy {
  font-size: 14px;
  font-weight: bold;
}
#Comments {
  width: 100%;
}
input[type='text'],
input[type='email'],
input[type='tel'] {
  border: 0;
  border-bottom: 1px solid black;
  padding: 10px 0;
  color: #8d939f;
  font-size: 14px;
  font-family: 'Roboto';
  background: none;
}
input::placeholder {
  color: #bbb;
  font-size: 14px;
  text-transform: uppercase;
}
/*FORM TEST*/
.input-wrapper {
  position: relative;
}
#regular label {
  color: #bbb;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  z-index: -2;
  font-size: 14px;
  left: 0px;
  top: 14px;
  padding: 0 2px;
  pointer-events: none;
  background: #fff;
  -webkit-transition: -webkit-transform 100ms ease;
  -moz-transition: -moz-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  -ms-transition: -ms-transform 100ms ease;
  transition: transform 100ms ease;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
input {
  font-size: 13px;
  color: #555;
  outline: none;
  border: 1px solid #bbb;
  padding: 10px 20px;
  position: relative;
}
input:focus {
  border-color: #ef805d;
}
input:invalid + label {
  transform: translateY(0);
}
input:focus + label {
  color: #ef805d;
  font-size: 8px;
  -webkit-transform: translateY(-31px);
  -moz-transform: translateY(-31px);
  -o-transform: translateY(-31px);
  -ms-transform: translateY(-31px);
  transform: translateY(-31px);
}

.active-field-input {
  transform: translateY(-31px) !important;
  color: #ef805d !important;
  font-size: 8px !important;
}
/*END OF FORM*/

/*START OF FOOTER*/
footer h2 {
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
footer p.contact-details {
  font-size: 14px;
  font-weight: 300;
}
footer p.contact-description {
  font-size: 14px;
  line-height: 24px;
}
.detail-footer {
  font-size: 10px;
  font-weight: 300;
  font-family: 'Roboto';
  color: white;
}
.footer-image {
  width: 150px;
  filter: brightness(0) invert(1) grayscale(1);
}
/*END OF FOOTER*/

/*START OF BREAKPOINTS*/
@media screen and (max-width: 60em) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  /*START OF NAVIGATION*/
  .topnav {
    display: none;
  }
  img.logo-navigation {
    max-height: 50px;
    padding: 8px 0px;
  }
  .mobile-button {
    background: none;
    border: 0;
  }
  .activate {
    display: block;
    width: 100%;
    background: white;
    position: absolute;
    top: 122px;
    left: 0;
    z-index: 9;
    padding: 20px 10px 50px;
  }
  ul#main-nav {
    display: flex;
    flex-direction: column;
  }
  ul#main-nav li a {
    text-decoration: none;
    padding: 0 18px;
    font-size: 18px;
    color: black;
    line-height: 38px;
  }
  ul#main-nav li {
    padding: 8px 0;
  }
  .bottom-cta-fixed {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
    text-align: center;
    display: flex;
  }
  .bottom-cta-fixed a.cta {
    box-shadow: none;
    font-size: 14px;
  }
  /*END OF NAVIGATION*/

  /*START OF OFFER PAGE NAVIGATION*/
  .offer-page-nav {
    display: none;
  }
  .offer-page-link {
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding: 0 18px;
  }

  .offer-page-link:after {
    display: block;
    content: '';
    border-bottom: solid 1px #ef805d;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    color: black;
  }
  .offer-page-link:hover:after {
    transform: scaleX(1);
    color: black;
  }
  a.offer-page-link {
    color: black !important;
  }
  .offer-page-mobile-button {
    position: absolute;
    top: 50px;
    right: 0px;
  }
  .absolute-show {
    display: block !important;
    background: white;
    z-index: 999999999;
    top: 138px;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  .offer-page-nav a.offer-page-link p {
    font-size: 18px;
    line-height: 0;
  }
  /*END OF OFFER PAGE NVIGATION*/

  /*START OF HERO CSS*/
  .hero-main-image {
    height: 70vh !important;
    margin-top: -50px;
  }
  .hero-grid {
    display: flex;
    grid-template-columns: 0;
    grid-template-rows: 0;
    flex-direction: column;
  }
  .hero-text h2:before {
    width: 24px;
    margin: 0 8px 0 0em;
  }
  .hero-text h2:after {
    width: 24px;
    margin: 0 0px 0 8px;
  }
  .hero-text h2 {
    text-align: center;
  }
  .hero-text h1 {
    z-index: 2;
    font-size: 64px;
    margin: 10px 20px;
    line-height: 72px;
  }
  .hero-mobile-image {
    margin-top: -2em;
  }
  /*END OF HERO CSS*/

  /*START OF GREY COPY SECTION*/
  #grey-copy-section p {
    font-size: 32px;
    line-height: 48px;
  }
  /*END OF GREY COPY SECTION*/

  /*START TREATMENT SECTION*/
  .treatment-image {
    background-size: cover !important;
    width: 100%;
    height: 70vh;
  }
  .second-section-treatment-options {
    border-right: none;
  }
  /*END OF TREATMENT SECTION*/

  /*START OF TESTIMONIAL SECTION*/
  #testimonials-section ul.slick-dots {
    bottom: -30px;
  }
  #testimonials-section ul.slick-dots li button:before {
    color: #bfd4e1;
  }
  #testimonials-section ul.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #bfd4e1;
  }
  /*END OF TESTIMONIAL SECTION*/

  /*START OF PROCESS SECTION*/
  .slick-track {
    margin-top: 00px;
  }
  .slick-current {
    margin-top: 0px;
  }
  .slick-prev {
    left: 80px;
    z-index: 1;
  }
  .slick-next {
    right: 80px;
    z-index: 1;
  }
  /*END OF PROCESS SECTION*/

  /*START OF ABOUT CINIC*/
  .about-clinic-facts {
    text-align: center;
  }
  .about-clinic-facts-wrap {
    flex-direction: column;
  }
  #about-clinic-section {
    background-position: 80% !important;
  }

  /*END OF ABOUT CLINIC*/

  /*START OF FOOTER*/
  .logo-border-bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .detail-footer {
    font-size: 8px;
    line-height: 10px;
  }
  /*END OF FOOTER*/

  /*START OF SUCCESS PAGE*/
  .success-hero-image {
    height: 80vw;
    margin-top: -60px;
  }
  /*END OF SUCCESS PAGE*/
}

@media screen and (max-width: 370px) {
  h2.section-main-title {
    font-size: 48px;
    line-height: 54px;
  }
  .slick-next {
    right: 60px;
  }
  .slick-prev {
    left: 60px;
  }
}

@media (max-width: 761px) {
  .keyword-styling {
    width: 40%;
  }
  .slick-current {
    transform: translateY(0);
  }
  .cta-left {
    padding: 20px;
    border-radius: 0;
  }

  .flex-column.items-center h2.section-main-title {
    text-align: center;
  }

  h2.blue-top-header-title {
    margin: 0 auto;
  }
}

@media (min-width: 60em) {
  .home .slick-current,
  .page-template-page-alt .slick-current {
    transform: translateY(0);
  }
  .home ul.slick-dots,
  .page-template-page-alt ul.slick-dots {
    display: none;
  }
  .tabcontent ul {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 2rem;
  }
}

@media only screen and (max-width: 1120px) and (min-width: 60em) {
  .slick-prev {
    left: 250px;
    z-index: 1;
  }
  .slick-next {
    right: 250px;
    z-index: 1;
  }
}
/*END OF BREAKPOINTS*/

/*SUCCESS PAGE*/
.success-page-nav-styling {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.success-page-header {
  font-size: 72px;
  line-height: 80px;
  font-family: 'Oswald';
  text-transform: uppercase;
}
.success-page-orange-line-wrapper {
  position: absolute;
  width: 100%;
  bottom: -65px;
  left: 0;
}
.success-page-orange-line {
  width: 1px;
  height: 335px;
}
.success-page-steps:last-child {
  margin-bottom: 0;
}
.success-page-cta {
  display: none;
}

/* Style the buttons inside the tab */
button.tablinks:hover {
  cursor: pointer;
}
button.tablinks {
  background: white;
  color: #ef805d;
  font-family: 'Roboto';
  text-align: center;
  border: 1px solid #c0d4e1;
  border-radius: 10px;
  padding: 5px 20px;
}
button.tablinks.activ {
  background-color: #bfd4e1;
  color: white;
}
ul li {
  font-weight: Bold;
  text-align: left;
}

button.formLinks:hover {
  cursor: pointer;
}
button.formLinks {
  background: white;
  color: #ef805d;
  font-family: 'Roboto';
  text-align: center;
  border: 1px solid #c0d4e1;
  border-radius: 10px;
  padding: 5px 20px;
}
button.formLinks.activ {
  background-color: #bfd4e1;
  color: white;
}
ul li {
  font-weight: Bold;
  text-align: left;
}
.formcontent {
  display: none;
}
button.tablinks.actives {
  background-color: #bfd4e1;
  color: white;
}
.wpcf7-select {
  margin-top: 0.5rem;
}
select {
  width: 100px;
  border: 1px solid #bfd4e1;
  border-radius: 8px;
  color: orange;
  padding: 5px 10px;
  font-size: 15px;
}
textarea {
  border: 1px solid #bfd4e1;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 15px;
}
input[type='submit'] {
  padding: 10px 36px;
  border-radius: 10px;
  box-shadow: 0 6px 10px #c1c1c187;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background: #ef805d;
  border: 0;
  color: white;
  font-family: 'Roboto';
}
input[type='submit']:hover {
  cursor: pointer;
  border-radius: 0;
}

/*
iframe {
  pointer-events: none;
}*/
.link-cta-hover:hover {
  color: #c4d7e3;
}

#regular iframe {
  width: 400px !important;
}
#quiz iframe {
  width: 400px !important;
  height: 1539px !important;
}
@media screen and (max-width: 826px) {
  #regular iframe {
    width: 300px !important;
  }
  #quiz iframe {
    width: 300px !important;
    height: 1538px !important;
  }
}

.cookie-banner {
  background: #e8e8e8;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 99999999;
}
.cookie-banner-title {
  font-family: 'Oswald';
  font-size: 38px;
  line-height: 48px;
}
.close-popup-banner:before {
  content: '\2715';
}
.close-popup-banner:hover {
  cursor: pointer;
}
.close-popup-banner {
  box-shadow: 0px 5px 13px #89898970;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #ef805e;
  border: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto';
}
@media screen and (max-width: 60em) {
  .close-popup-banner {
    top: 1rem;
    right: 1rem;
  }
}

/*AS SEEN ON BAR*/
.as-seen-on-title {
  color: #ef805e;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 34px;
  text-align: center;
  line-height: 34px;
}
.as-seen-on-image {
  width: 100px;
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .gainswave-video {
    height: 200px !important;
  }
}

@media only screen and (max-width: 1230px) and (min-width: 959px) {
  .hero-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 88px;
    line-height: 95px;
    font-weight: 600;
    margin: 0;
  }
}
